/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #151614;
}
html {
    height: 100%
}
body{
    background-color: #F5FBEF;
}
/* Entry page Header  */
.entry_page_head{
    display: flex;
    justify-content: center;
    align-items: center;
}

.entry_page_head .social_link{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.site_name {
    margin-left: 20%;
    font-size: 40px;
    color: #fff;
}

.entry_page_headDiv .social_div {
    position: absolute;
    top: 41px;
    right: 122px;
    z-index: 6;
    color: #fff;
}

.entry_page_headDiv .social_link{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    color: #fff;
}

.entry_page_headDiv .social_link a{
    color: #4D3E42;
}

.entry_page_headDiv .social_link a:hover{
    color: #92C040;
}

.entry_hero_section{
    position: relative;
    text-align: center;
}

.entry_contentDiv{
    position: absolute;
    bottom: 0%;
    left: 0%;
}

/* -------------- */
.entry_contentDiv{
    display: flex;
    width: 347px;
}

.entry_content{
    width: 300px;
    padding: 15px;
    border-bottom: 1px solid #fff;
}
.entry_content h2{
    font-family: 'monument_extendedultrabold';
    color: #4D3E42;
    font-weight: 900;
    font-size: 1.7em;
}

.entry_content a{
    display: flex;
    color: #000;
    text-decoration: none;
    width: 100%;
    justify-content: center;
    border: none;
    background-color: #92C040;
    font-weight: 700;
    padding: 15px;
    border-radius: 5px;
}


.vertical_scroll_text p{
    font-size: 12px;
    color: #4D3E42;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-style: italic;
    padding-bottom: 20px;
}

.entry_para_content{
    font-family: 'monument_extendedregular';
    color: #4D3E42;
    padding: 13px 0px;
    font-size: 1em;
}

.footer_rightDiv{
    text-align: right;
}

.footer_social_link{
    display: flex;
    justify-content: space-around;
    width: 140px;
    align-items: center;
    margin-left: auto;
    padding: 5px;
    color: #fff;
}

.footer_email h4{
    color: #fff;
    font-style: italic;
    font-size: 14px;
}

.footer_rightDiv p{
    color: #fefefe;
    margin: 0;
    font-size: 11px;
}

.footer_rightDiv a{
    color: #000;
    font-size: 10px;
}

.footer_site_name{
    font-size: 40px;
    color: #fff;
    text-align: center;
}

.footer_site_name img{
    width: 175px;
}

.footer_rightDiv .footer_href{
    font-size: 15px;
    color:#000;
}

.footer_rightDiv .footer_href:hover{
    color: #92C040;
}

/* ========================================Home ================================================== */
.navbar-light .navbar-toggler-icon {
    background-image: url("../images/collections//toggle.png");
    width: 50px;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(243 83 123);
}
.home_Nav{
    background-color: #000;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link{
    color: #000;
}

.home_Nav .navbar .nav-link, .gallery_link{
    font-family: 'Montserrat', sans-serif;
    color: #fefefe;
    font-size: 14px;
    transition: .15s;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;

}

.home_Nav .navbar .nav-link:hover, .gallery_link:hover{
    color: rgb(243 83 123);
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
    color: #92C040 !important;
}

.nav_SocialDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}
.nav_SocialDiv .nav_social{
    cursor: pointer;
    color: #000;
}

.nav_SocialDiv .nav_social:hover{
    color: #92C040;
}

.home_Nav .nav-item .nav-link.nav_social{
    font-style: normal;
    font-size: 15px;
    cursor: pointer;
}

.home_Nav .navbar-nav{
    width: 56%;
    justify-content: space-around;
}

.home_heroDiv{
    background-color: transparent;
}

.mainfooterDiv{
    background-color: transparent;
}

.home_about_content{
    color: #fff;
}

.home_about_content p{
    color: #fefefe;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.fair_distribution h2{
    font-family: 'monument_extendedultrabold';
    color: #4D3E42;
    font-weight: 900;
    font-size: 1.6em;
    text-transform: uppercase;
}

.fair_distribution p{
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
}
.fair_distribution h4{
    font-size: 1.15em;
    font-weight: 600;
    font-style: italic;
}

.fair_dis_rightContent{
    height: 100%;
    display: flex;
    align-items: flex-start;
    margin-top: 36px;
    background: transparent;
}

.fair_dis_rightContent p{
    font-family: 'Montserrat', sans-serif;
    color: grey;
    margin: 0px;
    font-size: .8em;
    font-weight: 200;
    font-style: italic;
}
/* ----------------------------- */
.buyStripContainer{
    /* background: #92C040; */
    /* background-color: #fe8873; */
    margin-top: 50px;
    background: linear-gradient( to left top, #ee407d, #fe8873)
}

.mintDiv{
    background: transparent;
    padding: 50px 0px;
}

.buyStripCol2 .mintDiv .innerMintDiv{
    background: transparent;
    text-align: left;
}

.buy_stripDiv{
    background-color: #bfc500;
    display: flex;
}

.buy_strip1, .buy_strip2, .buy_strip3{
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    width: 34%;
}

.buy_strip1 h2{
    color: #000;
    background: transparent;
    font-style: italic;
    font-weight: 900;
    font-size: 1.5em;
}

.buy_strip2 p{
    color: #000;
    background: transparent;
    margin: 0%;
}

.buy_strip3 a{
    background-color: #000;
    color: #bfc500;
    padding: 10px 50px;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-size: 1.1em;
}

.specsContentArea h2{
    color: #4D3E42;
    font-size: 1.7em;
    font-weight: 800;
    font-family: 'monument_extendedultrabold';
    margin-bottom: 15px;
}

.specsContentArea{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.specsRightArea{
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* =-------------------------- */
.club_inner{
    text-align: center;

}
.club_inner p{
    color: #fefefe;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.club_contentHead .h2_one{
    font-family: 'monument_extendedregular';
    color: #92C040;
    font-size: 23px;
    line-height: 1px;
}

.club_contentHead .h2_two{
    font-family: 'monument_extendedultrabold';
    color: #92C040;
    font-size: 23px;
    font-weight: 800;
    margin-bottom: 0px;
}

.bathroomContainer{
    background: #4D3E42;
}

.bathroomContainer .container .row{
    background: transparent;
}

.bathroomContainer .container .row .col-lg-6, .col-lg-4{
    background: transparent;
}

.bathroomContent{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background: transparent;
}

.bathroomContent .h2_one{
    color: #fff;
    font-size: 1.7em;
    font-weight: 800;
    background: transparent;
    font-family: 'monument_extendedultrabold';
}

.bathroomContent .h2_two{
    color: #92C040;
    font-size: 2.6em;
    font-weight: 800;
    background: transparent;
    line-height: 39px;
    font-family: 'monument_extendedultrabold';
    margin-bottom: 50px;
}
.bathroomContent p{
    color: #F5FBEF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.bathroomRight img{
    background: transparent;
    width: 90%;
    
}
/* ------------------------------------------------- */

.roadMapContentTop h2{
    font-size: 1.7em;
    font-weight: 800;
    font-style: italic;
    color: #fff;
}

.roadMap_phaseDiv ul {
    color: #fff;
}

.roadMap_phaseDiv ul li {
    display: flex;
}
.roadMap_phaseDiv ul li .phase_content{
    width: 80%;
    font-size: 14px;
}

.roadMap_phaseDiv ul li .phase_stage{
    margin-right: 20px;
    color: #bfc500;
    font-size: 14px;
}


/* ==========================================/ */
.coummunityContent h2{
    font-size: 1.7em;
    font-weight: 800;
    color: #4D3E42;
    font-family: 'monument_extendedultrabold';
    margin-bottom: 15px;
}

.coummunityContent p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;    
}

.communityRight{
    display: flex;
    justify-content: space-around;
    height: 100%;
    text-align: center;
    align-items: center
}

.communityRight a{
   color: #000;
   background-color: #bfc500;
   padding: 15px;
   border-radius: 5px;
   text-decoration: none;
   font-style: italic;
   font-weight: bold; 
}

.teamContent * {
    text-align: left;
}
.teamContent h2{
    color: #fff;
    font-size: 1.7em;
    font-weight: 800;
    font-family: 'monument_extendedultrabold';

}

.teamContent h5{
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.teamContent h5 .team_name{
    color: #92C040;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
}

.teamCollage{
    display: flex;
}

.dropdown-menu.show{
    background-color: #f5fbef;
}

.dropdown-item{
    font-size: 14px;
}

.dropdown-item:hover{
    color: #fff;
    background: #000;
}

.faqHead h2{
    color: #fff;
    font-weight: bolder;
    font-family: 'monument_extendedultrabold';
    font-size: 28px;
    margin-bottom: 15px;
}

.accordion-button{
    /* background: #92C040; */
    /* background: #fe8873; */
    background: linear-gradient( to left top, #ee407d, #fe8873);
    color: #fff;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.accordion-body{
    background: #4d3e42;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.accordion-button:not(.collapsed){
    color: #151614;
    /* background: #92c040; */
    /* background: #fe8873; */
    background: linear-gradient( to left top, #ee407d, #fe8873);
}

.accordion-button:focus{
    box-shadow: none;
}

.whatNextDiv h2{
    color: #4D3E42;
    text-align: justify;
    font-style: normal;
    font-family: 'monument_extendedultrabold';
}

/* ================================== */
.entryNavbarContainer{
    background: #F5FBEF;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    display: flex;
    justify-content: center;
}

.entryNavbarContainer img{
    background: transparent;
    width: 200px;
}

.footer_email input{
    color: #bfc500;
}

.form-control:focus{
    color: #bfc500;
}


/* ============================== */
.navbar-brand img{
    width: 140px;
    padding: 5px;
}


/***************************/
.social_mobile {
    display: flex;
    padding: 30px 0 20px;
    justify-content: center;
}
.social_mobile li {
    padding: 0 10px; 
    
}
.social_mobile img {
    width: 32px;
}
.mainfooterDiv a.cu {
    color: #000;
}
.buyStripContainer .container .row .col-lg-4 h2.mob-cent- {
    margin-bottom: 0;
    line-height:  30px;
}
.home_heroDiv_ img {
    width: 100%;
}
div.whoel {
    padding-top: 50px !important;
}
/*.box_ {
    display: flex;
    flex-flow: column;
    height: 100%;
}
.head_ {
    flex: 0 1 auto;
}*/

.hero_ {
    height: 100vh;
    width: calc(100vw - (100vw - 100%));
    background: url('../images//collections/Banner-01 (1).jpg') no-repeat center bottom;
    background-size:cover;
    overflow: hidden;
}
.swiper_,
.swiper {
    width: 100%;
    margin-bottom: 50px;
}
.swiper__ {
    margin-bottom: 20px;
}
.swiper_ {
    margin-bottom: 10px;
}
.swiper .swiper-slide img {
    width: 98% !important;
    border-radius: 25px;
}
.swiper-slide img {
    width: 100% !important;
}
/*
.swiper-button-prev,
.swiper-button-next,
.swiper-scrollbar {
    display: none !important;
} */
span.swiper-pagination-bullet-active {
    background: #92C040 !important;
}
.swiper-pagination {
    background-color: transparent;
    margin-bottom: 30px;
    bottom: -55px !important;
}
.swiper-pagination__,
.swiper-pagination_ {
    text-align: center;
}
div.swiper_ .club_inner p {
    display: block;
    margin: 5px auto 0;
    width: 60%;
}
div.swiper_ .swiper-slide,
.swiper__ .swiper-slide {
    text-align: center;
}
.dt h5 {
    margin-top: 20px;
    text-align: center;
    color: #fefefe;
}
.swiper__ h5 {
    margin-top: 20px;
    text-align: center;
}
.team_name,
.swiper__ h5 .team_name {
display: block;
/* color: #92C040; */
/* color: #fe8873; */
    text-transform: uppercase;
    background: linear-gradient( to left top, #ee407d, #f97375);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bathroomContainer .bcf {
    padding: 40px 0px 30px;
}
.bathroomContainer .inner_collage {
    padding: 0;
}
.bathroomContainer .main_Container {
    background-color: #4D3E42;
}
.buyStripContainer .main_Container { background-color: transparent; }

.navbar-light .navbar-toggler {
    border-color: transparent !important;
}
.fab {
    font-family: "Font Awesome 5 Brands" !important;
}
div.dt {
    text-align: center;
}
#team .inner_collage {
    max-width: 506px;
    width: 100%;
}
.nvico a {
    display: inline-block;
    margin: 0 2px;
}
.nvico img {
    width: 30px;
}
/**************/

@media screen and (max-width:991px) {
    .bathroomContainer .inner_collage {
        transform: translateY(30px);
    }
    .bathroomRight img{
        max-width: 464px;   
    }
    .home_heroDiv_ img {
        margin-top: 105px;
    }
    .entry_page_headDiv .social_div{
        display: none;
    }
    .footer_social_link{
        margin: 20px 0px;
        width: auto;
    }
    .footer_rightDiv{
        text-align: center;
    }
    .container div.row.w-cont {
        padding-top: 0;
    }
}

@media screen and (max-width:425px) {
    div.bathroomRight{
        padding-bottom: 0;
    }
    .home_heroDiv_ img {
        margin-top: 70px;
    }
    .footer_site_name{
        font-size: 25px;
    }
    .buy_stripDiv{
        flex-wrap: wrap;
    }

    .entry_contentDiv{
        width: auto;
    }
    .entry_hero_section{
        height: 550px;
    }
    .entryNavbarContainer img{
        width: 145px;
    }
    .footer_rightDiv{
        text-align: end;
    }
    .email-container{
        text-align: left !important;
    }
    .email-form{
        width: 100% !important;
    }

}


/* ================================================================================================ */
.email-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    font-family: 'monument_extendedultrabold';
}

.email-label {
    font-weight: 900;
    font-size: 20px;
    color: #4D3E42;
    font-family: 'monument_extendedultrabold';
}

.email-flex {
    padding-top: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.email-form {
    display: flex;
    width: 80%;
    margin: auto;
}

.email-input-text {
    width: 100%;
}

.email-submit {
    /* background-color: rgba(146, 192, 64, 0.76); */
    background-color: rgb(153 107 99 / 78%);
    border: 0ch;
    padding: 10px 20px 10px 20px;
    color: #fff;
    caret-color: transparent;
    transition: .3s;
}


input {
    /* background-color: #92C040; */
    /* background-color:#fe8873; */
    background: linear-gradient( to left top, #ee407d, #fe8873);
    border: 0ch;
    padding: 10px;
    width: 80%;
    margin-top: 10px;
    color: #fff;
}

input {
    caret-color: auto;
}

::placeholder {
    color:#fff;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }

@media only screen and (min-width: 992px){
    /* .footer_site_name {
        text-align: left;
    } */
.email-container {
    padding: 0%;
    text-align: left;
}
}

@media only screen and (min-width: 992px){

.email-label {
    font-weight: 900;
    font-size: 16px;
    color: #fff;
}

}




@media only screen and (min-width: 992px){
    .bathroomContainer .inner_collage {
        position: absolute;
        bottom: -42px;
        width: 50%;
        right: 0;
        max-width: 480px;
    }
.email-flex {
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .bathroomContainer .inner_collage {
        right: -24px;
    }
}
@media only screen and (min-width: 992px){
.email-form {
    margin: unset;
}
}

@media only screen and (min-width: 992px){
.email-input-text {
    padding: 2px;
    padding-left: 10px;
}
}

@media only screen and (min-width: 992px){
.email-submit {
    padding: 10px;
    line-height: 0;
}
.email-form {
    margin: unset;
}
.email-input-text {
    padding: 2px;
    padding-left: 10px;
}
}

.last-line {
    border-bottom: 15px solid #bfc500;
    display: block;
    padding-top: 30px;
    max-width: 100%;
}
@media only screen and (min-width: 992px){
.last-line {
    padding-top: 0%;
}
}

.home_Nav .navbar{
    background: #F5FBEF !important;
    padding: 2px 0;
}

.navbar-light .navbar-brand{
    padding: 0px;
}

.home_about_content .h2_one{
    font-family: 'monument_extendedregular';
    font-weight: 100;
    font-size: 40px;
    /* color: #92C040; */
    /* color: #fe8873; */
    line-height: 38px;
    background: linear-gradient( to left top, #cf1456, #fa7477);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home_about_content .h2_two{
    font-family: 'monument_extendedultrabold';
    font-weight: 900;
    font-size: 36px;
    /* color: #92C040; */
    /* color: #fe8873; */
    line-height: 38px;
    margin-bottom: 50px;
    display: block;
    margin-top: .5rem;
    background: linear-gradient( to left top, #cf1456, #fa7477);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.buyStripContainer .container{
    background: transparent;
}
.buyStripContainer .container .row{
    background: transparent;
}

.buyStripContainer .container .row img{
    background: transparent;
    width: 53%;
}

.buyStripContainer .container .row .col-lg-6{
    background: transparent;
}

.buyStripContainer .container .row .col-lg-4.content{
    background: transparent;
    padding-left: 50px;
}

.buyStripContainer .container .row .col-lg-4 h2, p, a{
    background: transparent;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}
.buyStripContainer .container .row .col-lg-4 p{
    /*margin-bottom: 38px;*/ 
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.buyStripContainer .container .row .col-lg-4 h2{
    font-family: 'monument_extendedultrabold';
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    /* color: #4D3E42; */
    color: #fff;
    padding-top: 5px;
    margin-bottom: 30px;
}
.buyStripContainer .container .row .col-lg-4 a{
    color: #fff;
    text-decoration: none;
    background: #151614;
    text-transform: uppercase;
    font-weight: 900;
    padding: 15px 70px;
    border-radius: 5px;
}


.club_contentHead{
    margin-top: 40px;
    margin-bottom: 50px;
}

.whatNextDiv h2{
    font-size: 1.7em;
    font-weight: 800;
    margin-bottom: 15px;
}

.bathroomContainer .container{
    background: transparent;
}

.commmunity_toolsContainer .container{
    padding-bottom: 25px 0px;
}

.main_Container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 30px;
}

.home_hero_section{
    text-align: center;
}

.bear1Image{
    background: transparent;
}

.panda-imgDiv{
    background: transparent;
}

.for-mobileClub{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.for-mobileClub img{
    display: none;
}

@media screen and (max-width:991px) {
    .home_Nav .navbar-nav{
        width: 100%;
        text-align: end;
    }
}

@media screen and (max-width:425px){
    .buy_stripDiv .buy_strip1, .buy_strip2, .buy_strip3{
        width: 100%;
    }
    .navbar-brand img{
        width: 90px;
    }
    .home_Nav .nav-item .nav-link {
        text-indent: 28px;
    }
    .teamContent {
        margin-bottom: 20px;
    }
}

.entry_hero_section{
    padding: 40px 0px;
}
.mab {
    font-size: 16px;
}
div.row.w-cont {
    padding-top: 50px;
    padding-bottom: 0;
}
.inner_collage{
    padding: 5px;
    border-radius: 25px;
}div.roadMapContainer {border-bottom: 1px solid #4D3E42;}

input:focus-visible{
    outline: none;
}


@media screen and (max-width:991px) {
    .buyStripCol2 .mintDiv .innerMintDiv{
        text-align: center;
    }
    .home_Nav .nav-item .nav-link{
        text-indent: 18px;
    }
    .mob-hide {
        display: none;
    }
    .home_Nav .nav-item .nav-link.nav_social{
        display: none;
    }
    /*
    .footerIndex .footerIndexCol1{
        order: 1;
    }
    .footerIndex .footerIndexCol2{
        order: 3;
    }
    .footerIndex .footerIndexCol3{
        order: 2;
    }

    .aboutConatinerDiv .aboutSecCol1{
        order: 2;
    }*/

    .aboutConatinerDiv .aboutSecCol2{
        order: 1;
    }

    .buyStripContainer .buyStripCol1{
        order: 2;
    }

    .buyStripContainer .buyStripCol2{
        order: 1;;
    }
    .buyStripContainer .container .row img{
        margin-top: 0px !important;
    }

    .aboutConatinerDiv .container .row .col-lg-5 img,
    .aboutConatinerDiv .container .row .col-lg-7 img,
    .aboutConatinerDiv .container .row .col-lg-6 img{
        margin-top: 0px !important;
    }

    .aboutConatinerDiv .container .row .col-lg-5 .aboutContainer_Div,
    .aboutConatinerDiv .container .row .col-lg-7 .aboutContainer_Div,
    .aboutConatinerDiv .container .row .col-lg-6 .aboutContainer_Div{
        margin-top: 20px;
    }
/*
    .home_about_content p{
        text-align: justify;
    }

    .fair_distribution p{
        text-align: justify;
    }

    .fair_dis_rightContent p{
        text-align: justify;
    }
    
    .specsContentArea p{
        text-align: justify;
    }

    .club_contentHead p{
        text-align: justify;
    }

    .bathroomContent p{
        text-align: justify;
    }
    .roadMapContentTop p{
        text-align: justify;
    }

    .roadMap_phaseDiv p{
        text-align: justify;
    }

    .coummunityContent p{
        text-align: justify;
    }

    .teamContent p{
        text-align: justify;
    }
    .buy_strip2 p{
        text-align: justify;
    }
    .phase_content{
        text-align: justify;
    }
    .entry_para_content{
        text-align: justify;
    } */
    .panda-imgDiv {
        text-align: center;
    }
}

@media screen and (max-width:768px){
    .pp .h2_one,.bathroomContent .h2_one,
    .pp .h2_one, .whoel .h2_one, .roadMapFirst .h2_one,
    .pp .h2_two, .whoel .h2_two, .roadMapFirst .h2_two,
    .bathroomContent .h2_two {
        width: 100%;
    }
    .email-container,
    .pp .h2_one, .whoel .h2_one, .roadMapFirst .h2_one,
    .home_about_content .h2_one,
    .home_about_content .h2_two,
    .pp .h2_two, .whoel .h2_two, .roadMapFirst .h2_two
    div.email-container,
    .pp .h2_one, .whoel .h2_one, .roadMapFirst .h2_one,
    .buyStripContainer .container .row .col-lg-4 p,
    .buyStripContainer .container .row .col-lg-4 h2,
    .home_about_content p,
    .pp .h2_one, .whoel .h2_one, .roadMapFirst .h2_one,
    .specsContentArea p,
    .pp .h2_two, .whoel .h2_two, .roadMapFirst .h2_two,
    .bathroomContent .h2_two,
    .bathroomContent .h2_one,
    .bathroomContent p,
    .bathroomContent .h2_one,
    .pp .h2_two, .whoel .h2_two, .roadMapFirst .h2_two,
    .roadMapFirst p,
    .teamContent h2,
    .teamContent p,
    .faqHead h2,
    .accordion-item:first-of-type .accordion-button,
    .accordion-body,
    .email-label {
        text-align: center !important;
    }

    .pb-30 {
        padding-bottom: 30px;
    }

    .bear1Image {
        padding-top: 20px;
        text-align: center;
    }
    .bear1Image img {
        width: 300px;
    }
    .buyStripContainer .container .row .col-lg-4.content{
        text-align: center;
        padding-left: 0%;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .buyStripContainer .container .row .col-lg-4 h2{
        text-align: left;
        line-height: 32px;
    }
    .panda-imgDiv{
        text-align: center;
    }

    .buyStripContainer .container .row img{
        width: 320px;
    }
    .home_about_content .h2_one{
        line-height: 43px;
    }
    .mintDiv{
        padding: 20px;
        text-align: left;
    }
    .bathroomContainer .bcf {
        padding-bottom: 0;
    }

}

    @media screen and (max-width:525px) {
        div.row.w-cont {
            padding-top: 0;
        }
        .cr p {
            text-align: center;
        }
        .teamContent p {
            margin-bottom: 0 !important;
        }
        .roadMapContentTop h2{
            font-size: 2em;
        }
        .entry_content h2{
            text-align: left;
        }

        .buy_stripDiv {
            flex-wrap: wrap;
        }

        .communityRight{
            flex-wrap: wrap;
        }
        .clubImg_div{
            text-align: center;
        }
        .buyStripContainer .container .row .col-lg-4.content{
            margin-top: 25px;
            margin-bottom: 20px;
        }

        .buyStripContainer .container .row .col-lg-4 a{
            padding: 15px 40px;
        }
        .bathroomContent .h2_two,
        .home_about_content .h2_two{
            font-size: 30px;
        }
        div.whoel .h2_one {
            font-size: 26px;
        }
        .home_about_content .h2_one{
            font-size: 30px;
             line-height: 1;
        }
        div.whoel .h2_two {
            font-size: 30px;
        }
        .buyStripContainer .container .row .col-lg-4.content{
            padding-left: 0px;
            text-align: center;
        }

        .roadMapFirst .h2_two{
            font-size: 2em !important;
        }
        .mintDiv{
            padding: 20px;
            text-align: left;
        }
    }

    @media screen and (max-width:425px){
        /*.mob-cent {
            text-indent: 50px !important;
        }*/
        .mainfooterDiv .row{
            padding: 5px !important;
        }
        .club_inner p{
            text-align: center;
            padding-left: 0;
            width: 100% !important;
        }
        .club_inner{
            
            align-items: center;
            justify-content: space-between;
        }
        .buyStripContainer .container .row .col-lg-4 a{
            padding: 15px 22px;
        }
        .entry_hero_section img{
            margin-top: 110px !important; 
        }
        .entryNavbarContainer{
            padding: 0px;
        }

        .mintDiv{
            padding: 20px;
            text-align: left;
        }
        .for-mobileClub img{
            display: block;
            width: 80px;
            height: auto;
        }
        .for-mobileClub{
            margin-bottom: 20px;
        }
        .clubImg_div img{
            display: none;
        }
        .bathroomContainer{
            padding: 20px 0px;
        }

        .roadMapContainer .default_show{
            display: none;
        }
        .roadMapContainer .default_hide{
            display: block !important;
        }


        .aboutConatinerDiv .container .row .col-lg-5 .aboutContainer_Div,
        .aboutConatinerDiv .container .row .col-lg-7 .aboutContainer_Div,
        .aboutConatinerDiv .container .row .col-lg-6 .aboutContainer_Div{
            padding: 0px !important;
        }
    
    }

 
    @media screen and (max-width:320px) {
        .roadMapFirst .h2_two{
            font-size: 2em !important;
        }
    }

    /* ========================================= 22/Nov ========================================== */
    .dashed-wrapp {
        padding-left: 40px;
    }
    .dashed {
        border-left: 1px dashed #4D3E42;
        padding-left: 64px;
        margin-bottom: 40px;
        margin-top: 24px;
    }
    .bullet-wrapp {
        position: relative;
    }
    img.bullet {
        width: 60px;
        position: absolute;
        z-index: 99;
        left: -95px;
    }
    .roadMapFirst {
        padding-top: 20px;
    }
    .pp .h2_one, .whoel .h2_one,     
    .roadMapFirst .h2_one{
    font-family: 'monument_extendedregular';
        font-size: 2em;
        color: #fff;
        margin: 0;
    }
    .pp .h2_two, .whoel .h2_two,
    .roadMapFirst .h2_two{
        font-family: 'monument_extendedultrabold';
            font-size: 2.7em;
            font-weight: 900;
            color: #fff;
            margin-bottom: 20px;
        }
        

        .roadmap-phase-contentDiv h5{
            /* color: #92C040; */
            /* color: #fe8873; */
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-weight: bold;
            background: linear-gradient( to left top, #ee407d, #f97375);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .roadmap-phase-contentDiv p{
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            margin-bottom: 40px;
            color: #fefefe;
        }



.aboutConatinerDiv{
    background: #92C040;
}

.aboutConatinerDiv .container {
    background: transparent;
}


.aboutConatinerDiv .container .row{
    background: transparent;
}


.aboutConatinerDiv .container .row .col-lg-5,
.aboutConatinerDiv .container .row .col-lg-7,
.aboutConatinerDiv .container .row .col-lg-6{
    background: transparent;
}

.aboutConatinerDiv .container .row .col-lg-5.aboutRight,
.aboutConatinerDiv .container .row .col-lg-7.aboutRight,
.aboutConatinerDiv .container .row .col-lg-6.aboutRight{
    display: flex;
    align-items: center;
}
.aboutConatinerDiv .container .row .col-lg-5 img,
.aboutConatinerDiv .container .row .col-lg-7 img,
.aboutConatinerDiv .container .row .col-lg-6 img{
    background: transparent;
    width: 60%;
}

.aboutConatinerDiv .container .row .col-lg-5 .aboutContainer_Div,
.aboutConatinerDiv .container .row .col-lg-7 .aboutContainer_Div,
.aboutConatinerDiv .container .row .col-lg-6 .aboutContainer_Div{
    background: transparent;
    padding: 50px 0px;
}

.aboutContainer_Div h2{
    font-size: 28px;
    color: #4D3E42;
    font-weight: 900;
    background: transparent;
    font-family: 'monument_extendedultrabold';
    margin-bottom: 15px;
}

.aboutContainer_Div p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px; 
}

/* .commmunity_toolsContainer{
    padding: 20px 0px;
} */

.commmunity_toolsContainer .container{
    border-bottom: 1px solid #4D3E42;
    padding: 50px 0px;
}

.communityRight .first_link{
    color: #fff;
    background-color: #92C040;
    padding: 15px 95px;
    border-radius: 5px;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}

.communityRight .second_link{
    color: #fff;
    background-color: #4D3E42;
    padding: 15px 95px;
    border-radius: 5px;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}

.teamContainer .container .row .col-lg-6.content_div{
    display: flex;
    align-items: center;
}

.teamContent p{
    margin-bottom: 80px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #fefefe;
}

.teamContainer{
    border-bottom: 1px solid #dbd8d9;
}

.whatNextContainer .container .col-lg-6 img{
    border-radius: 15px;
}

.whatNextContainer{
    padding: 50px 0px;
    border-bottom: 1px solid #dbd8d9;
}

.entry_hero_section img{
    margin-top: 190px;
}

.bathroomRight{
    background: transparent;
    text-align: center;
    
}

.specsContentArea p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #fefefe;
}

.club_contentHead p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.clubImg_div{
    margin-top: -75px;
    text-align: center;
}

.roadMapFirst p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #fefefe;
}


.teamContainer{
    padding: 50px 0px;
}

.faqContainer{
    padding: 50px 0px;
    border-bottom: 1px solid #4D3E42;
}

.accordion-button:not(.collapsed)::after, .accordion-button::after{
    filter: brightness(0) invert(1);
}

.whatNextDiv p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}


.home_Nav {
    position: static;
}
.home_Nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
@media screen and (min-width:576px) {

    .d-sm-block{
        display: flex !important;
    }
    .d-sm-block.d-sm-block- {
        display: block !important;
    }
    .aboutConatinerDiv{
        margin-top: 0;
    }
    .aboutConatinerDiv .container .row .col-lg-7 {
        padding-left: 40px;
    }
}
@media screen and (min-width:991px) {
    .dashed {
        border-left: none;
    }
    img.bullet {
        display: none;
    }
}

@media screen and (min-width:992px) {
    .buyStripContainer .container .row img{
        position: absolute;
        bottom: 0;
        left: 0;
        /* transform: translateX(38%); */
    }
}

@media screen and (max-width:976px) {
    .dashed {
        border-left: 1px dashed #4D3E42 !important;
    }
    img.bullet {
        display: block !important;
    }
}

/* ============================= Carousel ============================ */

.carousel-control-prev{
    display: none;
}

.carousel-control-next{
    display: none;
}

.carousel-indicators{
    background: transparent;
    margin-bottom: -2rem;
}

.carousel-indicators [data-bs-target]{
    background: grey;
    width: 8px;
    height: 0px;
    border-radius: 50%;
    margin: 15px;
    border-top: 8px solid transparent;
    border-bottom: 0px solid transparent;
}

.carousel-indicators .active{
    background: #e96682;
    width: 8px;
    height: 0px;
    border-radius: 50%;
    margin: 15px;
    border-top: 8px solid transparent;
    border-bottom: 0px solid transparent;
}

.carousel-item .clubSliderPara{
    font-size: 18px;
    text-align: center;
}

.carousel-item .teamMemberName{
    text-align: center;
}

.aboutCollage{
    display: flex !important;
    flex-direction: column;
    align-items: flex-end;
}
.about_img{
    height: 270px;
}
@media (min-width:768px) and (max-width:992px){
    .aboutCollage{
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }  
} 

@media screen and (max-width:767px){
    .aboutCollage{
        display: none !important;
    }
}

.gallery_text .nft_name{
    color: #fff;
    padding-top: 10px;
}
.gallery_section{
    margin-top: 135px;
}